:root {
    --bg-color: #fff;
    --primary-color: #fe0002;
    --secondary-color: #fff;
    --third-color: #820303;
    --third-bis-color: #420a0af2;
    --bg-input-color: #863939;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'work-sans', sans-serif;
    margin-bottom: 0;
    font-weight: 100;
}

body {
    background-color: var(--bg-color);
    color: #000;

}

a {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

a:before,
a:after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transition: left .8s;
}

a:hover:before {
    left: 0;
}

a:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: -100%;
    background: #ffffff;
    transition: right .8s;
}

a:hover:after {
    right: 0;
}


li {
    list-style: none;
    margin: 10px;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 10px;
}

.contenedor {
    width: 100%;
    max-width: 1500px;
    margin: 10px auto;
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    /*4 filas: header, contenido, sidebar, footer*/
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "encabezado encabezado encabezado"
        "contenido contenido sidebar"
        "contenido contenido sidebar"
        "pie pie pie";
}

.contenedor>div,
.contenedor .encabezado,
.contenedor .contenedor,
.contenedor .sidebar,
.contenedor .pie {
    padding: 20px;
    /* border-radius: 4px; */
}

.contenedor .encabezado {
    background: var(--primary-color);
    color: #fff;
    border: solid var(--secondary-color);
    grid-area: encabezado;
}

.contenedor .contenido {
    background: #fff;
    grid-area: contenido;
}

.contenedor .sidebar {
    background: var(--primary-color);
    grid-area: sidebar;
    margin: 0;
    padding: 0;
}

.contenedor .pie {
    background: var(--primary-color);
    color: #fff;
    grid-area: pie;
    
}

.nav-links {
    margin: auto;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: #000;

}

.nav-st-1 {
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: var(--primary-color);
}

.hijo {
    background-color: var(--primary-color);
    height: 50px;
    width: 120px;
    text-align: center;
    padding: 10px;

}

.img-banner {
    width: 10%;
    height: auto;
}

.nav a:hover {
    color: var(--secondary-color);
}

.events {
    border: solid var(--secondary-color);
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.news {
    border: solid var(--primary-color);
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}


.pie {
    align-items: center;
    background-color: var(--primary-color);
    border: solid var(--secondary-color);
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    color: white;
}

.info-pie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.foot {
    text-decoration: underline var(--secondary-color);
}

.otr-pie {
    font-style: italic;
}

.inv {
    color: var(--primary-color);
}

.historia {
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
}

.form-inicio-sesion{
	margin:auto;
	background-color: #fff;
	width:90%;
	max-width:500px;
	padding:10px;
	border:none;
	text-align:center;
	}
	

	
/* Estilo para el sector del formulario en registrarse.html */
.sector-form {
    background-image: url('ruta/a/tu/imagen.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    padding: 20px; /* Agrega algo de espacio alrededor del formulario */
}

/* Estilo para el contenedor del formulario */
.contenedor-formulario-registrarse .contenedor_form {
    max-width: 720px; /* Ancho máximo del contenedor del formulario */
    margin: 0 auto; /* Centra el contenedor en la página */
    width: 100%; /* Ajusta el ancho del grupo de entrada al 100% */
    margin-bottom: 20px; /* Agrega espacio entre cada grupo de entrada */
    display: flex; /* Utiliza flexbox para distribuir los elementos en filas */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas */
    flex-basis: calc(50% - 10px); /* Ajusta la base flexible de los campos de entrada al 50% menos el margen */
    margin-right: 20px; /* Agrega espacio entre los campos de entrada */
    margin-bottom: 10px; /* Agrega espacio entre las filas */
}	

.form_title{
	
	font-size:32px;
	margin-bottom:8px;
	
	}

.form_subtitle{
	font-weight:100;
	font-size:16px;
	}
/* esto es una con su href que lleva al registro, le quite el subrayado y le puse mas onda aunque puede estar mejor*/
.registrarse{
	text-decoration:none;
	color:black;
	font-size:12px;
	}
/*el formulario dispuesto en forma de columna*/
.contenedor_form{
	margin-top:20px;
	margin-bottom:20px;
	display:grid;
	gap:20px;
	padding:20px;
	
}

/*aca adentro estan los inputs*/
.input_group{
	position:relative;
	
	}
.form_input{
	height:40px;
	width:100%;
	font-size:16px;
	color:white	;
	background-color:var(--third-bis-color);
	border-radius:5px;
	cursor:pointer;
	
	
	}
/*estas son las etiquetas que que se ven sobre los input del formulario*/

.form_label{
	font-size:16px;
	color:white;
	cursor:pointer;
	position:absolute;
	bottom:2px;
	left:5px;
	transition: transform .7s, color .2s;
	}
	
/* este transform nos sirve para elevar y achicar el label cuando el usuario se fija en el input*/
.form_input:focus + .form_label{
/*.form_input:not(:placeholder-shown)+ .form_label{*/
	transform: translateY(-18px) scale(.7);
	/*y este transform es para que se pegue hacia arriba y hacia la izquierda*/
	transform-origin:left top;
	color:white;
}
/*este boton de enviar tiene un transform que le cambia el color cundo haces click*/
.form_submit{
	height:40px;
	width:100%;
	font-size:16px;
	color:white;
	background-color:var(--bg-input-color);
	border-radius:5px;
	cursor:pointer;
	transform: color ,6s;
}

.form_submit:focus{
	color:black;
	background-color:pink;
}
/*a este ecudo le puse el borde solo para distinguir su area*/


#primeros-años {
    width: 90%;
    float: left;
}



@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-areas: "encabezado encabezado encabezado"
            "contenido contenido sidebar"
            "sidebar sidebar sidebar"
            "pie pie pie";
    }
}

@media screen and (max-width: 600px) {
    .contenedor {
        grid-template-areas: "encabezado encabezado encabezado"
            "contenido contenido contenido"
            "sidebar sidebar sidebar"
            "pie pie pie";
    }
}